@font-face {
    font-family: 'Inter Tight';
    src: url('fonts/InterTight-Regular.woff2') format('woff2'),
        url('fonts/InterTight-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.woff2') format('woff2'),
        url('fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    display:flex;
    margin: 0px;
    font-size: 1.5rem;
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}
.left-image { 
    height: 100vh;
    background: 
        url(assets/cockpit-door-med.jpg)
        center/cover no-repeat           
}

.odin-dark {
    width: max(640px, 350px);
    margin-top: 12vh;
    padding: 40px;
    background-color: rgba(0,0,0,0.49);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.odin-dark > span {
    font-family: 'Inter Tight';
    font-weight: bold;
    font-size: 5rem;
    color: white
}
.odin-dark > img {
    height: 8rem;
    margin-right: 30px; 
}

.image-credit {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1rem;
    color: white;
}
.image-credit > a {
    color:white;
}

.sheet { 
    display:flex;
    flex-direction: column;
    
}
.sheet>* {
    padding: 0 max(10vw,30px) 0 5vw;
    margin-top: 75px
}

.info, legend {
    font-weight: 500;
    
}

.form-area {
    
    
    box-shadow: 0px 5px 7px -5px rgba(0,0,0,0.5);
    margin-top: 50px;
    padding-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}


.form-row {
    display:flex;
    gap: 50px;
}

.form-input {
    display:flex;
    flex-direction: column;
    padding: 15px 50px;
    font-size: 1.2rem;
}

label {
    font-size: 0.9rem;
    padding-bottom: 5px;
}


input {
    padding: 0.5rem;
    width: 100%;
    border-width: 1px;
    border-radius: 5px;
    border-color: #E5E7EB;
}
input:focus {
    border-color:#3EA5E6;
    outline: none;
}

input[type=password]:valid{
    border-color:greenyellow;
    
}
input[type=password]:invalid{
    border-color:red;
}

.required > label::after{
    content: "*";
    color:red;
    margin-left: 4px;

}


.button-container{
    margin-top: 40px;
    font-size: 1rem;
}
button[type=submit] {
    background-color: #3EA5E6;
    padding: 20px 50px;
    border-radius: 20px;
    border-style: none;
    font-size: large;
    color:white;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.button-container a{
    font-weight: bold;
    color:#3EA5E6;
    text-decoration-line: none;
}